<div id="docs-misc-content">
	<div id="onboarding" class="docs-heading">
		<h3>What is onboarding?</h3>
		<p>Basically, onboarding is that user interface that shows up the first time you use an application. For more info, refer
			to
			<a href="https://material.io/guidelines/growth-communications/onboarding.html" target="_blank" class="docs-link">Material specs</a></p>

		<img src="https://storage.googleapis.com/material-design/publish/material_v_11/assets/0B7WCemMG6e0VMlNLOHFLcHFSY1U/edu-timeline_3.png"
		 title="Onboarding" class="docs-img">
	</div>
	<div id="example" class="docs-heading">
		<h3>Example</h3>
		<p>Here's an example, using a <code class="docs-code">MatDialog</code>:</p>
		<example-viewer [exFiles]="onboardingExample"></example-viewer>
	</div>
</div>