<mat-card>
	<mat-card-title>Search docs</mat-card-title>
	<mat-card-content fxLayout="column">
		<mat-form-field fxFlex>
			<input matInput type="search" [(ngModel)]="search" placeholder="Search" name="search" required>
			<mat-hint>Type here to search</mat-hint>
			<mat-error>This is required</mat-error>
		</mat-form-field>
		<br>
		<mat-select [(ngModel)]="searchOptType" multiple placeholder="Type" required>
			<mat-option value="component">Component</mat-option>
			<mat-option value="guides">Guides</mat-option>
			<mat-option value="showcase">Showcase</mat-option>
			<mat-option value="misc">Misc</mat-option>
			<mat-option value="other">Other</mat-option>
		</mat-select>
		<br>
		<mat-checkbox [(ngModel)]="isCaseSensitive">Case Sensitive</mat-checkbox>
		<div class="docs-search-actions" fxLayout="row">
			<button mat-button (click)="reset()" class="docs-btn" color="warn" fxFlex="50">Reset</button>
			<button mat-button (click)="submit()" class="docs-btn" color="primary" fxFlex="50">Submit</button>
		</div>
	</mat-card-content>
</mat-card>

<div class="docs-search-results">
	<h3>Results:</h3>
	<em>Coming soon</em>
</div>