<div #code class="example-code-snippet">
    <button md-icon-button (click)="copyToClipboard()" class="docs-copy-btn" mdTooltip="Copy code" [ngClass]="{'white-icon': isDark}"><md-icon svgIcon="content-copy"></md-icon></button>
    <button md-icon-button (click)="toggleTheme()" class="docs-theme-btn" mdTooltip="Toggle Theme" [ngClass]="{'white-icon': isDark}"><md-icon svgIcon="palette"></md-icon></button>
    <pre class="hljs" [ngClass]="{'hljs-light': !isDark, 'hljs-dark': isDark}">
        <ng-content></ng-content>
    </pre>
</div>