<div class="example-viewer mat-elevation-z4" fxLayout="column" [id]="docsId" style="border-radius: 0px 0px 5px 5px;">
	<md-toolbar class="docs-example-toolbar">{{docsTitle}}<span fxFlex></span>
		<md-chip-list>
			<md-chip *ngIf="masterBuild" color="accent" selected="true" mdTooltip="This means that this example can be done if you're running on the latest master build.">
				<md-icon>warning</md-icon> Master</md-chip>
			<span *ngIf="externalComponent">
				<md-chip color="warn" selected="true" mdTooltip="This example contains a component not from here. Clicking this chip will navigate you to the docs for {{ext.name}}" [routerLink]="[ext.link]" *ngFor="let ext of externalComponent"><md-icon>book</md-icon> {{ext.name}} Docs</md-chip>
			</span>
		</md-chip-list>
		<button md-icon-button (click)="toggleSource()" mdTooltip="{{showCode ? 'Hide': 'Show'}} source code">
                <md-icon>
					<svg width="24" height="24">
						<path d="M14.6,16.6L19.2,12L14.6,7.4L16,6L22,12L16,18L14.6,16.6M9.4,16.6L4.8,12L9.4,7.4L8,6L2,12L8,18L9.4,16.6Z" />
					</svg>
				</md-icon>
        </button>
	</md-toolbar>
	<md-tab-group *ngIf="showCode">
		<md-tab [label]="file.label" *ngFor="let file of files">
			<button md-icon-button (click)="copyToClipboard(file.code)" class="docs-copy-btn" mdTooltip="Copy code" [ngClass]="{'white-icon': isDark}"><md-icon>
				<svg width="24" height="24">
						<path d="M19,21H8V7H19M19,5H8A2,2 0 0,0 6,7V21A2,2 0 0,0 8,23H19A2,2 0 0,0 21,21V7A2,2 0 0,0 19,5M16,1H4A2,2 0 0,0 2,3V17H4V3H16V1Z" />
				</svg>
			</md-icon></button>
			<pre class="example-viewer-code hljs" [innerHTML]="file.highlightedCode" [ngClass]="{'hljs-dark': isDark, 'hljs-light': !isDark}"></pre>
		</md-tab>
	</md-tab-group>
	<div class="example-viewer-body">
		<ng-template [portalHost]="exampleHost"></ng-template>
	</div>
</div>