<div class="example-viewer mat-elevation-z4" fxLayout="column" style="border-radius: 0px 0px 5px 5px;">
	<mat-toolbar class="docs-example-toolbar">{{exFiles.title}}<span fxFlex></span>
		<mat-chip-list *ngIf="exFiles.notices">
			<mat-chip *ngFor="let notice of exFiles.notices" [color]="notice.color ? notice.color : 'primary'" selected="true" [matTooltip]="notice.desc">
				<mat-icon *ngIf="notice.icon">{{notice.icon}}</mat-icon> {{notice.name}}</mat-chip>
		</mat-chip-list>
		<button mat-icon-button (click)="toggleSource()" matTooltip="{{showCode ? 'Hide': 'Show'}} source code">
                <mat-icon>
					<svg width="24" height="24">
						<path d="M14.6,16.6L19.2,12L14.6,7.4L16,6L22,12L16,18L14.6,16.6M9.4,16.6L4.8,12L9.4,7.4L8,6L2,12L8,18L9.4,16.6Z" />
					</svg>
				</mat-icon>
		</button>
		<button mat-icon-button (click)="viewStackblitzDemo()" matTooltip="View on stackblitz">
			<mat-icon>
				<svg width="24" height="24">
					<path d="M17.3,9h-4.5l4.2-6.6h-5.3l-4.9,9.9h3.9l-3.9,9.2L17.3,9z"/>
				</svg>
			</mat-icon>
		</button>
	</mat-toolbar>
	<mat-tab-group *ngIf="showCode">
		<mat-tab [label]="file.label" *ngFor="let file of files">
			<button mat-icon-button (click)="copyToClipboard(file.code)" class="docs-copy-btn" matTooltip="Copy code" [ngClass]="{'white-icon': isDark}"><mat-icon>
				<svg width="24" height="24">
						<path d="M19,21H8V7H19M19,5H8A2,2 0 0,0 6,7V21A2,2 0 0,0 8,23H19A2,2 0 0,0 21,21V7A2,2 0 0,0 19,5M16,1H4A2,2 0 0,0 2,3V17H4V3H16V1Z" />
				</svg>
			</mat-icon></button>
			<pre class="example-viewer-code hljs" [innerHTML]="file.highlightedCode" [ngClass]="{'hljs-dark': isDark, 'hljs-light': !isDark}"></pre>
		</mat-tab>
	</mat-tab-group>
	<div class="example-viewer-body">
		<ng-template [cdkPortalHost]="exampleHost"></ng-template>
	</div>
</div>