<div class="example-viewer mat-elevation-z4" fxLayout="column" [id]="docsId" style="border-radius: 0px 0px 5px 5px;">
    <md-toolbar color="primary" style="border-radius: 5px 5px 0px 0px;">{{docsTitle}}<span fxFlex></span>
        <button
            md-icon-button
            (click)="fragRoute(docsId)"
            mdTooltip="Get link">
                <md-icon svgIcon="mdi:link"></md-icon>
        </button>
        <button
            md-icon-button
            (click)="toggleSource()"
            mdTooltip="{{showCode ? 'Hide': 'Show'}} source code">
                <md-icon svgIcon="mdi:code-tags"></md-icon>
        </button>
    </md-toolbar>
    <md-tab-group *ngIf="showCode" dynamicHeight>
        <md-tab label="{{file.label}}" *ngFor="let file of files">
            <button md-icon-button (click)="copyToClipboard(file.code)" class="docs-copy-btn" mdTooltip="Copy code" [ngClass]="{'white-icon': isDark}"><md-icon svgIcon="mdi:content-copy"></md-icon></button>
            <pre class="example-viewer-code hljs" [innerHTML]="file.highlightedCode" [ngClass]="{'hljs-dark': isDark, 'hljs-light': !isDark}"></pre>
        </md-tab>
    </md-tab-group>
    <div #code></div>
</div>