<md-sidenav-container fullscreen>
	<md-toolbar color="accent" class="mat-elevation-z6 docs-toolbar">
		<button md-icon-button (click)="componentSidenav.toggle()" *ngIf="isComponentsPage"><md-icon>menu</md-icon></button> Material2
		Docs
		<span fxFlex></span>
		<a md-icon-button mdTooltip="Visit Original Docs" href="https://material.angular.io" target="_blank"><md-icon svgIcon="angularblack"></md-icon></a>
		<button md-icon-button [mdMenuTriggerFor]="moreMenu"><md-icon>more_vert</md-icon></button>
		<button md-icon-button (click)="docsSidenav.toggle()" mdTooltip="View Sitemap"><md-icon svgIcon="icons:sitemap"></md-icon></button>
		<md-menu #moreMenu="mdMenu">
			<button md-menu-item (click)="viewOnGithub()"><md-icon>code</md-icon>Source on Github</button>
			<button md-menu-item (click)="openPrefs()"><md-icon>settings</md-icon>Settings</button>
			<button md-menu-item (click)="toggleTheme()">Toggle Theme</button>
		</md-menu>
	</md-toolbar>
	<md-sidenav #componentSidenav [mode]="sidenavMode" class="component-sidenav mat-elevation-z4" align="start">
		<md-toolbar color="primary" class="mat-elevation-z6 sidenav-toolbar-left">
			Components
			<span fxFlex></span>
			<button md-icon-button (click)="componentSidenav.close()"><md-icon svgIcon="icons:arrow-collapse-left"></md-icon></button>
		</md-toolbar>
		<md-nav-list *ngFor="let category of categories">
			<h3 md-subheader class="sidenav-subheader">{{category.name}}</h3>
			<a md-list-item [routerLink]="['/components', component.id]" *ngFor="let component of category.items" routerLinkActive="active-link"
			 (click)="componentSidenav.close()">{{component.name}}</a>
		</md-nav-list>
	</md-sidenav>
	<md-sidenav #docsSidenav [mode]="sidenavMode" class="docs-sidenav mat-elevation-z4" align="end">
		<md-toolbar color="primary" class="mat-elevation-z6">
			<button md-icon-button (click)="docsSidenav.close()"><md-icon svgIcon="icons:arrow-collapse-right"></md-icon></button> Navigation
			<span fxFlex></span>
		</md-toolbar>
		<md-nav-list>
			<a md-list-item [routerLink]="['home']" (click)="docsSidenav.close()" routerLinkActive="active-link">
				<md-icon md-list-icon>home</md-icon>
				<p md-line>Home</p>
			</a>
			<a md-list-item [routerLink]="['components']" (click)="docsSidenav.close()" routerLinkActive="active-link">
				<md-icon md-list-icon>extension</md-icon>
				<p md-line>Components</p>
			</a>
			<a md-list-item [routerLink]="['guides']" (click)="docsSidenav.close()" routerLinkActive="active-link">
				<md-icon md-list-icon>book</md-icon>
				<p md-line>Guides</a>
			<a md-list-item [routerLink]="['showcases']" (click)="docsSidenav.close()" routerLinkActive="active-link">
				<md-icon md-list-icon>view_carousel</md-icon>
				<p md-line>Showcases</p>
			</a>
			<a md-list-item [routerLink]="['search']" (click)="docsSidenav.close()" routerLinkActive="active-link">
				<md-icon md-list-icon>search</md-icon>
				<p md-line>Search (experimental)</p>
			</a>
			<a md-list-item [routerLink]="['examples']" (click)="docsSidenav.close()" routerLinkActive="active-link">
				<md-icon md-list-icon>code</md-icon>
				<p md-line>Examples</p>
			</a>
			<a md-list-item [routerLink]="['misc']" (click)="docsSidenav.close()" routerLinkActive="active-link">
				<md-icon md-list-icon>star</md-icon>
				<p md-line>Miscellaneous</p>
			</a>
			<h3 md-subheader>Other</h3>
			<a md-list-item href="https://github.com/Chan4077/material2-docs/blob/master/LICENSE" target="_blank" (click)="docsSidenav.close()">
				<md-icon md-list-icon>copyright</md-icon>
				<p md-line>License</p>
			</a>
			<a md-list-item (click)="openAbout(); docsSidenav.close()">
				<md-icon md-list-icon>info</md-icon>
				<p md-line>About</p>
			</a>
		</md-nav-list>
	</md-sidenav>
	<div class="docs-title" fxLayout="row">
		<h1>{{docTitle}}</h1>
		<span fxFlex></span>
	</div>
	<div class="example-app" (window:scroll)="onScroll($event)">
		<span id="top"></span>
		<md-card *ngIf="showLatestCommit" id="latestCommit">
			<md-card-title>Latest commit</md-card-title>
			<md-card-content>
				<p><strong>Message:</strong>
					<span [innerText]="latestCommitCommit?.message"></span></p>
				<p><strong>Committer:</strong> {{latestCommitCommitAuthor?.name}}</p>
				<p><strong>SHA:</strong> <code class="docs-code">{{latestCommit?.sha}}</code></p>
				<p><strong>Date:</strong> {{latestCommitCommitAuthor?.date | date:'medium'}}</p>
			</md-card-content>
			<md-card-actions align="end">
				<a md-button [href]="latestCommit?.html_url" class="docs-btn" target="_blank" color="primary">Go to commit</a>
			</md-card-actions>
		</md-card>
		<br *ngIf="showLatestCommit">
		<router-outlet></router-outlet>
	</div>
	<footer class="docs-footer">
		<p>The Angular logo is licensed as <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" class="docs-link">CC BY 4.0</a>. To download angular icons, go <a href="https://angular.io/presskit" mdTooltip="Visit Angular.io" target="_blank" class="docs-link">Presskit</a>.</p>
		<a href="https://angular.io" mdTooltip="Visit angular.io" target="_blank" class="docs-link" mdTooltipPosition="above">Learn Angular</a>
	</footer>
</md-sidenav-container>
<button md-fab (click)="scrollToTop()" *ngIf="showScroll"><md-icon>arrow_upward</md-icon></button>