/* You can add global styles to this file, and also import other style files */
/*
TODO: Customize of themes.
*/
@import 'highlightjs/material-dark.scss';
@import 'highlightjs/material-light.scss';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
/* Roboto Mono + Roboto font weights 300, 400, 500 */
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:300,400,500');
.white-icon {
    color: white !important;
}
.docs-code, .docs-example-code, code, .hljs.hljs-light, .hljs.hljs-dark {
    font-family: "Roboto Mono", monospace;
    white-space: pre-wrap;
    font-size: 14px;
}
.component-sidenav {
    width: 240px;
}
.example-padding {
    padding: 5px;
}
.docs-btn, .mat-simple-snackbar-action {
    text-transform: uppercase;
}
.sidenav-toolbar-left {
    z-index: 2 !important;
}
.sidenav-subheader {
    background-color: #ff4081;
    color: #fff !important;
    position: sticky;
    position: -webkit-sticky;
    z-index: 1;
}
.sidenav-subheader {
    top: 64px;
    padding: 14px !important;
}
@media (max-width: 600px) {
    .sidenav-subheader {
        top: 56px;
    }
}
.example-viewer {
    margin: 10px 0px 0px 0px;
}
body {
    font-family: Roboto, sans-serif;
}
.example-viewer-code {
    min-height: 150px;
    border-bottom: 1px solid rgba(0,0,0,.12);
    margin: 0;
}
.example-viewer-body {
    padding: 30px;
}
.docs-table {
    border-spacing: 0;
    border-collapse: collapse;
}
.docs-table-th {
    background-color: #f5f5f5;
    font-weight: 400;
    padding: 13px 32px;
    text-align: left;
}
.docs-table-td {
    border: 1px solid rgba(0,0,0,.03);
    padding: 8px 16px;
}
.docs-title h1 {
    font-weight: 300;
    font-size: 30px;
    margin: 0;
    padding: 50px;
}
.docs-title {
    background-color: #ff4081;
    color: white;
    align-items: center;
	padding: 0px 15px 0px 15px;
}
.docs-toolbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 2;
}
@media (max-width: 840px) {
    .docs-title h1 {
        padding: 24px 8px;
        font-size: 20px;
    }
}
.docs-nav-tabs {
    text-transform: uppercase;
}
.example-app {
    margin: 20px 70px 50px 70px;
}
/* Phones */
@media (max-width: 800px) {
    .example-app {
        margin: 10px;
    }
}
.mat-icon svg {
    width: 24px;
    height: 24px;
}
.active-link {
    background-color: #f44336 !important;
    color: white !important;
}
.docs-copy-btn {
    position: absolute !important;
	right: 4px;
	top: 4px;
}
.docs-theme-btn {
    position: absolute !important;
    right: 44px;
    top: 4px;
}
.example-code-snippet {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: relative;
    min-height: 100px;
}
.example-code-snippet-content.hljs-light {
    background-color: rgba(0,0,0,.01);
	border: .5px solid rgba(0,0,0,.03);
}